body {
    background-color: greenyellow;
    font-family: "Arial Black", sans-serif;
    font-size: 15px;
    color: #82211e;
}

#global {
    margin-left: auto;
    margin-right: auto;
}

#image {
   display: inline;
    border: 5px black ridge;
    position: absolute;
    margin-left: 25px;
}

.premier {
    display: inline;
    position: absolute;
    margin-top: 25px;
    margin-left: 250px;
    border-bottom: 3px blue double;
}

.second {
    display: inline;
    position: absolute;
    margin-top: 170px;
    margin-left: 550px;
    border-bottom: 3px blue double;
}

.texte {
    position: absolute;
    margin-left: 420px;
    margin-top: 300px;
    border: 3px black inset;
}

.listelivre {
    position: absolute;
    margin-top: 465px;
    padding-right: 25px;
    border: 3px black ridge;
}

.listefilm {
    position: absolute;
    margin-top: 465px;
    margin-left: 715px;
    padding-right: 25px;
    border: 3px black ridge;
}

.listesport {
    position: absolute;
    margin-top: 465px;
    margin-left: 1350px;
    padding-right: 25px;
    border: 3px black ridge;
}


#presentation1 {
    font-size: 30px;
    font-family: "Arial Black"
}

#presentation2 {
    font-size: 20px;
    font-family: Verdana;
}


.reseaux {
     display: block;
     border: 3px black ridge;
     position: absolute;
     margin-top: 600px;
     margin-left: 615px;
 }

h1 {
    color: indigo;
    font-family: "Georgia", "Arial Black";
    font-size: 2em;
    line-height: 20px;
}

h2 {
    color: indigo;
    font-family: "Georgia", "Arial Black";
    font-size: 2em;
    line-height: 20px;
}

#perso {
    color: black;
    text-decoration: underline;
}